@media (min-width: 720px) {
  .app {
    height: 100vh;
    background: var(--secondary-green);
    position: relative;

    .content {
      width: 60%;
      margin: auto;
      padding: 8rem 0;
    }
  }
}

@media (max-width: 720px) {
  .app {
    background: var(--secondary-green);

    .content {
      width: 100%;
      margin: auto;
      padding: 8rem 0;
    }
  }
}
