:root {
  --primary-color: #3a3a3a;
  --primary-pink: #eeb6b6;
  --secondary-pink: #df9797;
  --terciary-pink: #f3d5d5;
  --secondary-green: #eef3eb;
  --primary-green: #bdd895;
  --terciary-green: #cfdfb8;
  --green-100: #f3f8ec;
}
